<template>
    <div id="app">
      <div class="container">
        <header class="border-bottom py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-2 pt-1">
              <img src="./images/Logo.png">
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col-8">
                  <div class="mb-3 input-group">
                    <input type="text" class="form-control" placeholder="Tìm theo tựa đề" v-model="nameToSearch" />
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" @click="searchName">
                        Tìm kiếm
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <!-- <div v-if="!currentUser" class="col-4 d-flex justify-content-end align-items-center"> -->
                    <!-- <router-link to="/register" class="btn btn-sm btn-outline-secondary mx-1"> -->
                    <button>Đăng ký</button>
                    <!-- </router-link> -->
                    <!-- <router-link to="/login" class="btn btn-sm btn-outline-secondary mx-1"> -->
                      <!-- Đăng nhập -->
                    <!-- </router-link> -->
                  <!-- </div> -->
                </div>
                <div col-1>
                  <button><img src="./images/Account.png"></button>
                </div>
                <div col-1><img src="./images/Shopping-cart.png"></div>
              </div>
            </div>
  
  
  
            <div class="col-4 text-center">
              <a href="/" style="font-family:'Playfair Display';font-size: 30px; text-decoration: none; color: #756262">
                Ứng dụng đánh giá sách</a>
            </div>
  
            <div v-if="currentUser" class="col-4 d-flex justify-content-end align-items-center">
              <router-link to="/profile" class="nav-link" style="color: #756262">
                {{ currentUser.username }}
              </router-link>
              <a class="btn btn-sm btn-outline-secondary" @click.prevent="logout">Đăng xuất</a>
            </div>
  
            <div v-if="!currentUser" class="col-4 d-flex justify-content-end align-items-center">
              <router-link to="/register" class="btn btn-sm btn-outline-secondary mx-1">
                Đăng ký
              </router-link>
              <router-link to="/login" class="btn btn-sm btn-outline-secondary mx-1">
                Đăng nhập
              </router-link>
            </div>
          </div>
        </header>
  
        <div v-if="currentUser" class="border-bottom py-1 mb-2 ">
          <nav class="nav d-flex justify-content-md-center">
            <li class="p-1">
              <router-link to="/bookreview" class="nav-link">
                Bài đánh giá
              </router-link>
            </li>
            <li class="p-1">
              <router-link to="/author" class="nav-link">
                Tác giả
              </router-link>
            </li>
            <li class="p-1">
              <router-link to="/reviewer" class="nav-link" style="">
                Người đánh giá
              </router-link>
            </li>
          </nav>
        </div>
      </div>
  
      <div class="container mt-3 mb-5">
        <router-view />
      </div>
  
      <footer class="mt-5 text-center border-top">
        <p class="p-0 mt-2 font-weight-bold" style="color: #756262">CT449 Phát triển ứng dụng web</p>
        <a href="#" style="color: #756262">Trở lại đầu trang</a>
      </footer>
    </div>
  </template>
  
  <script>
  import HelloWorld from './components/HelloWorld.vue'
  
  export default {
    name: 'App',
    components: {
      HelloWorld
    }
  }
  </script>
  
  <style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  </style>
  